In [99]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# Reading it as excel
# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx)

# Show top or bottom
# print(df.tail(3))
# print(df.head(3))

In [42]:
## Read Headers
print(df.columns)

## Read each columns
# print(df['Name'][0:5])
# print(df.Name[0:5]) # Same as above
# print(df[['Name','Type 1']][0:5]) # Specific headers

## Read Each Row
# print(df.iloc[0:4])# interger location

## Read a specific location (R,C)
# print()
# print(df.iloc[2,2])

# Prints through each row in an unformatted manner
for index, row in df.iterrows():
#     print(index, row)
#     print(index, row['Name']) # Just the name
    df.loc[df['Type 1'] == "Fire"]

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [43]:
# Get the basic statistics about the dataset
# df.describe()

# Reverse sorting
# df.sort_values('Name', ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0]) # Sorting data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [38]:
# df['Total'] = df['HP'] # + df['Attack'] + df['Defense']
# df['Total'].sort_values('Total') # How do i sort it based on this new column?

# df.drop(columns=['Total'])

# Axis indicates direction
# df['Total'] = df.iloc[:, 4:10].sum(axis=1) # All the columns?

# cols = list(df.columns)
# df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

# df.head(5)

In [48]:
# df.to_csv('modified.csv')

# df.to_excel('modfied.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [96]:
# |, and, & are all possible ways to join the conditions 
# new_df = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
# new_df = new_df.reset_index(drop=True)
# df.loc[~df['Name'].str.contains('Mega')]

# re stands for regular expression
import re
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Conditional Changes

In [101]:
# Used the condition of type 1 is fire and changed the legendary status to true
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

In [107]:
# Groupby
# This is moreso data science, similar to what we do in SQL
# Count, mean, sum are available, maybe more if looking at the documnetation
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

## Working with large amounts of data

In [113]:
# Breaking it down into chunks of 200 rows when there is large data

for df in pd.read_csv('modified.csv', chunksize=200):
    print(df)

     Unnamed: 0    #                   Name    Type 1  Type 2   HP  Attack  \
0             0    1              Bulbasaur     Grass  Poison   45      49
1             1    2                Ivysaur     Grass  Poison   60      62
2             2    3               Venusaur     Grass  Poison   80      82
3             3    3  VenusaurMega Venusaur     Grass  Poison   80     100
4             4    4             Charmander      Fire     NaN   39      52
..          ...  ...                    ...       ...     ...  ...     ...
195         195  181               Ampharos  Electric     NaN   90      75
196         196  181  AmpharosMega Ampharos  Electric  Dragon   90      95
197         197  182              Bellossom     Grass     NaN   75      80
198         198  183                 Marill     Water   Fairy   70      20
199         199  184              Azumarill     Water   Fairy  100      50

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
195       85      115       90     55           2      False
196      105      165      110     45           2      False
197       95       90      100     50           2      False
198       50       20       50     40           2      False
199       80       60       80     50           2      False

[200 rows x 13 columns]
     Unnamed: 0    #               Name Type 1  Type 2  HP  Attack  Defense  \
200         200  185          Sudowoodo   Rock     NaN  70     100      115
201         201  186           Politoed  Water     NaN  90      75       75
202         202  187             Hoppip  Grass  Flying  35      35       40
203         203  188           Skiploom  Grass  Flying  55      45       50
204         204  189           Jumpluff  Grass  Flying  75      55       70
..          ...  ...                ...    ...     ...  ..     ...      ...
395         395  361            Snorunt    Ice     NaN  50      50       50
396         396  362             Glalie    Ice     NaN  80      80       80
397         397  362  GlalieMega Glalie    Ice     NaN  80     120       80
398         398  363             Spheal    Ice   Water  70      40       50
399         399  364             Sealeo    Ice   Water  90      60       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
200       30       65     30           2      False
201       90      100     70           2      False
202       35       55     50           2      False
203       45       65     80           2      False
204       55       95    110           2      False
..       ...      ...    ...         ...        ...
395       50       50     50           3      False
396       80       80     80           3      False
397      120       80    100           3      False
398       55       50     25           3      False
399       75       70     45           3      False

[200 rows x 13 columns]
     Unnamed: 0    #        Name    Type 1  Type 2   HP  Attack  Defense  \
400         400  365     Walrein       Ice   Water  110      80       90
401         401  366    Clamperl     Water     NaN   35      64       85
402         402  367     Huntail     Water     NaN   55     104      105
403         403  368    Gorebyss     Water     NaN   55      84      105
404         404  369   Relicanth     Water    Rock  100      90      130
..          ...  ...         ...       ...     ...  ...     ...      ...
595         595  535     Tympole     Water     NaN   50      50       40
596         596  536   Palpitoad     Water  Ground   75      65       55
597         597  537  Seismitoad     Water  Ground  105      95       75
598         598  538       Throh  Fighting     NaN  120     100       85
599         599  539        Sawk  Fighting     NaN   75     125       75

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
400       95       90     65           3      False
401       74       55     32           3      False
402       94       75     52           3      False
403      114       75     52           3      False
404       45       65     55           3      False
..       ...      ...    ...         ...        ...
595       50       40     64           5      False
596       65       55     69           5      False
597       85       75     74           5      False
598       30       85     45           5      False
599       30       75     85           5      False

[200 rows x 13 columns]
     Unnamed: 0    #                 Name   Type 1  Type 2  HP  Attack  \
600         600  540             Sewaddle      Bug   Grass  45      53
601         601  541             Swadloon      Bug   Grass  55      63
602         602  542             Leavanny      Bug   Grass  75     103
603         603  543             Venipede      Bug  Poison  30      45
604         604  544           Whirlipede      Bug  Poison  40      55
..          ...  ...                  ...      ...     ...  ..     ...
795         795  719              Diancie     Rock   Fairy  50     100
796         796  719  DiancieMega Diancie     Rock   Fairy  50     160
797         797  720  HoopaHoopa Confined  Psychic   Ghost  80     110
798         798  720   HoopaHoopa Unbound  Psychic    Dark  80     160
799         799  721            Volcanion     Fire   Water  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
600       70       40       60     42           5      False
601       90       50       80     42           5      False
602       80       70       80     92           5      False
603       59       30       39     57           5      False
604       99       40       79     47           5      False
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[200 rows x 13 columns]